# Economicron Project 
## Examining the impact of the pandemic and global government policy on democracy, economy, and satisfaction. 

A work in progress through Winter 2022.

# Table of Contents

* [Prepping Datasets](#chapter1)
    * [Uploading CSVs](#section_1_1)
    * [Combining Datasets](#section_1_2)
    * [Adjust for Missing Data](#section_1_3)
        * [Adding a Continents Column](#section_1_3_1)
        * [Adding a Final Dataset](#section_1_3_2)
        * [Transform Data into Categorical Variables](#section_1_3_3)
* [Democracy Data Set](#chapter4)

## Prepping Datasets <a class="anchor" id="chapter1"></a>

There are mulltiple datasets involved in this project. Let's go ahead and import our csv files.

### Uploading CSVs <a class="anchor" id="section_1_1"></a>

In [26]:
import pandas as pd
import numpy as np

In [27]:
continent_list = pd.read_csv('Countries-Continents.csv')
continent_list.head(3)

  Continent  Country
0    Africa  Algeria
1    Africa   Angola
2    Africa    Benin

In [65]:
kaggle_df = pd.read_csv('kaggle_main.csv')
kaggle_df.head(3)

  CODE      COUNTRY        DATE    HDI   TC   TD  STI        POP    GDPCAP
0  AFG  Afghanistan  12/31/2019  0.498  0.0  0.0  0.0  17.477233  7.497754
1  AFG  Afghanistan    1/1/2020  0.498  0.0  0.0  0.0  17.477233  7.497754
2  AFG  Afghanistan    1/2/2020  0.498  0.0  0.0  0.0  17.477233  7.497754

This is the main dataframe we will work with. We'll eventually merge the other sheets to follow the parameters of this one.

In [67]:
labor_force_df = pd.read_csv('labor_force_participation.csv')
labor_force_df.head(3)

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value  Flag Codes
0      AUS      LFPR   15_24  PC_AGE         A  1966  69.908752         NaN
1      AUS      LFPR   15_24  PC_AGE         A  1967  69.424147         NaN
2      AUS      LFPR   15_24  PC_AGE         A  1968  68.222234         NaN

In [68]:
unemployment_df = pd.read_csv('unemployment_rate.csv')
unemployment_df.head(3)

  LOCATION INDICATOR SUBJECT   MEASURE FREQUENCY  TIME   Value Flag Codes
0      AUS       EMP     MEN  THND_PER         A  1965  3346.5        NaN
1      AUS       EMP     MEN  THND_PER         A  1966  3362.5        NaN
2      AUS       EMP     MEN  THND_PER         A  1967  3412.5        NaN

In [35]:
govt_response_df = pd.read_csv('government_response.csv')
govt_response_df.head(3)

,Country,People who consider flexible working to be the new normal,Businesses currently with a flexible workspace policy
0,Japan,0.80,0.32
1,China,0.77,0.51
2,Belgium,0.78,0.53

This dataset involves the reaction to the hybrid workmodel in various countries.

In [2]:
import pandas as pd

In [5]:
democracy_df = pd.read_csv('OxCGRT_latest.csv')
democracy_df.head(3)

,CountryName,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,...,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
0,Aruba,1/1/2020,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,Aruba,1/2/2020,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,Aruba,1/3/2020,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0

This dataset includes many political and socioeconomic factors involving governments in the pandemic. The categories will be further described in the next section of this project.

In [143]:
# check how long the dataframe is
len(democracy_df)

237120

In [150]:
democracy_df.describe()

,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
count,231704.000000,188253.000000,231657.000000,179661.000000,231665.000000,190239.000000,231460.000000,172154.000000,231535.000000,97196.000000,231532.000000,141070.000000,227489.000000,140067.000000,230419.000000,231077.000000,141138.000000,231060.000000,1.466360e+05,1.465320e+05,227443.000000,214336.000000,227261.000000,226612.000000,1.463590e+05,1.807280e+05,227507.000000,189952.000000,227489.000000,103344.000000,226761.000000,169224.000000,2.268240e+05,226744.000000,227415.000000,231529.000000,226850.000000,227143.000000,230624.000000
mean,1.569848,0.771897,1.357416,0.776173,1.310651,0.847865,2.388434,0.798308,0.510238,0.688876,0.914966,0.750259,0.920757,0.726659,2.458365,0.806779,0.473622,0.928079,1.219965e+08,6.166482e+06,1.836425,0.993422,2.057920,1.410389,6.215596e+06,4.644021e+05,2.291248,0.876421,1.815969,0.999052,1.490397,0.875626,4.892650e+05,10434.086159,50.864708,58.376754,50.955342,52.617156,39.338436
std,1.077986,0.419610,0.941935,0.416809,0.756166,0.359153,1.602346,0.401264,0.656349,0.462956,0.864042,0.432865,0.826476,0.445676,1.206581,0.740189,0.499305,0.796582,1.035304e+10,2.180791e+09,0.502070,0.080841,0.944473,0.732294,7.870695e+08,5.344704e+07,1.274167,0.329101,2.139475,0.030780,1.077241,0.330008,2.338021e+06,43549.407833,22.756998,22.913168,19.299911,19.636192,30.505745
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000e-02,-2.000000e-02,0.000000,0.000000,0.000000,0.000000,-1.000000e-02,-7.000000e-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,2.000000,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.020000e+03,9.000000,37.960000,47.620000,43.750000,45.540000,0.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000e+00,0.000000e+00,2.000000,1.000000,2.000000,2.000000,0.000000e+00,0.000000e+00,3.000000,1.000000,0.000000,1.000000,2.000000,1.000000,2.932350e+04,560.000000,52.780000,63.100000,55.160000,57.140000,37.500000
75%,3.000000,1.000000,2.000000,1.000000,2.000000,1.000000,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000,0.000000e+00,0.000000e+00,2.000000,1.000000,3.000000,2.000000,0.000000e+00,0.000000e+00,3.000000,1.000000,4.000000,1.000000,2.000000,1.000000,2.713632e+05,5350.000000,67.590000,73.810000,64.060000,65.770000,62.500000
max,3.000000,1.000000,3.000000,1.000000,2.000000,1.000000,4.000000,1.000000,2.000000,1.000000,3.000000,1.000000,2.000000,1.000000,4.000000,2.000000,1.000000,2.000000,1.960000e+12,8.340000e+11,2.000000,1.000000,3.000000,2.000000,2.420000e+11,1.575000e+10,4.000000,1.000000,5.000000,1.000000,3.000000,1.000000,7.342426e+07,879006.000000,100.000000,100.000000,91.150000,93.450000,100.000000

## Combining Datasets <a class="anchor" id="section_1_2"></a>

We will save the `unemployment_df`, `govt_response_df`, `labor force_df` dataframes for later since they involve less countries than our base `kaggle_df` dataframe. 

Let's combine `kaggle_df` and `democracy_df` together by the countries involved in all datasets.

In [144]:
combined_countries = pd.merge(kaggle_df, democracy_df, left_on=['COUNTRY', 'DATE'], right_on=['CountryName', 'Date'])
combined_countries.head(3)

,CODE,COUNTRY,DATE,HDI,TC,TD,STI,POP,GDPCAP,CountryName,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
0,AFG,Afghanistan,1/1/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,Afghanistan,1/1/2020,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,AFG,Afghanistan,1/2/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,Afghanistan,1/2/2020,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,AFG,Afghanistan,1/3/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,Afghanistan,1/3/2020,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [145]:
len(combined_countries)

80082

In [146]:
#delete the 'CountryName' and 'Date' column
combined_countries = combined_countries.drop('CountryName', axis = 1)
combined_countries = combined_countries.drop('Date', axis = 1)
combined_countries.head(3)

,CODE,COUNTRY,DATE,HDI,TC,TD,STI,POP,GDPCAP,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
0,AFG,Afghanistan,1/1/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,AFG,Afghanistan,1/2/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,AFG,Afghanistan,1/3/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [147]:
# check how many values our new data set has
len(combined_countries)

80082

In [151]:
combined_countries.describe()

,HDI,TC,TD,STI,POP,GDPCAP,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
count,77483.000000,80082.000000,80082.000000,80082.000000,80082.000000,80082.000000,79617.000000,65727.000000,79607.000000,61111.000000,79616.000000,65338.000000,79617.000000,59566.000000,79617.000000,37996.000000,79617.000000,52475.000000,79618.000000,52660.000000,79324.000000,79613.000000,49433.000000,79613.000000,6.286700e+04,6.273900e+04,79614.000000,73280.000000,79603.000000,79595.000000,6.276300e+04,6.322200e+04,79727.000000,54657.000000,79789.0,0.0,79395.000000,56543.000000,7.392200e+04,73838.000000,79617.000000,79617.000000,79614.000000,79615.000000,79610.000000
mean,0.780956,8.718480,5.592729,3.489613,17.674394,9.490285,2.000214,0.841009,1.507430,0.797614,1.421574,0.893982,2.453144,0.836803,0.618159,0.669281,0.988909,0.772616,1.026627,0.734447,2.668360,0.892869,0.431352,1.046927,1.649261e+08,1.435305e+07,1.784912,0.992713,1.636094,1.398015,1.068919e+07,4.627621e+05,1.778720,0.851053,0.0,NaN,1.567995,0.883204,6.010425e+04,2368.596563,55.638464,62.699647,50.449403,51.359476,44.080361
std,0.146869,4.622314,4.213771,1.442838,2.446644,2.021338,1.160302,0.365670,1.012703,0.401782,0.776227,0.307863,1.596284,0.369549,0.719649,0.470478,0.867599,0.419147,0.838517,0.441631,1.394186,0.799730,0.495270,0.811745,1.114211e+10,3.332813e+09,0.572666,0.085054,0.896467,0.724118,1.108752e+09,3.799242e+07,1.425812,0.356040,0.0,NaN,1.198836,0.321180,3.332590e+05,10918.680875,26.643439,27.271513,22.232137,22.437856,30.996698
min,0.000000,0.000000,0.000000,0.000000,10.432291,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000e-02,-2.000000e-02,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.0,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.750000,5.468060,1.386294,3.506458,16.107075,9.322664,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,2.000000,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000,1.000000,0.0,NaN,0.000000,1.000000,1.850000e+02,2.000000,41.670000,53.570000,42.710000,43.450000,12.500000
50%,0.761000,9.487138,5.609472,4.206631,17.898266,9.636177,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,3.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000e+00,0.000000e+00,2.000000,1.000000,2.000000,2.000000,0.000000e+00,0.000000e+00,2.000000,1.000000,0.0,NaN,2.000000,1.000000,2.027000e+03,49.000000,61.110000,70.950000,57.550000,58.330000,50.000000
75%,0.924000,11.734658,8.908559,4.341855,19.617637,10.724075,3.000000,1.000000,2.000000,1.000000,2.000000,1.000000,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,4.000000,2.000000,1.000000,2.000000,0.000000e+00,0.000000e+00,2.000000,1.000000,2.000000,2.000000,0.000000e+00,0.000000e+00,3.000000,1.000000,0.0,NaN,3.000000,1.000000,2.791600e+04,668.000000,76.390000,82.140000,66.150000,66.960000,62.500000
max,0.953000,15.914092,12.299900,4.605170,21.087439,11.669379,3.000000,1.000000,3.000000,1.000000,2.000000,1.000000,4.000000,1.000000,2.000000,1.000000,3.000000,1.000000,2.000000,1.000000,4.000000,2.000000,1.000000,2.000000,1.960000e+12,8.340000e+11,2.000000,1.000000,3.000000,2.000000,2.420000e+11,7.863850e+09,4.000000,1.000000,0.0,NaN,3.000000,1.000000,8.228963e+06,220611.000000,100.000000,100.000000,89.840000,91.960000,100.000000

Now that our datasets are combined under the same countries and days, let's export the dataset so others can work on it as well.

In [148]:
combined_countries.to_csv('combined_dataset_FINAL.csv', index=False)

### Adjust for Missing Data <a class="anchor" id="section_1_3"></a>

In [75]:
pd.set_option('display.max_columns', None) # display all columns in a dataframe
combined_df = pd.read_csv('combined_dataset_FINAL.csv')
combined_df.head(3)

,CODE,COUNTRY,DATE,HDI,TC,TD,STI,POP,GDPCAP,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
0,AFG,Afghanistan,1/1/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,AFG,Afghanistan,1/2/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,AFG,Afghanistan,1/3/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0

See https://github.com/OxCGRT/covid-policy-tracker/blob/master/documentation/codebook.md#containment-and-closure-policies for an explanation of the categorical variables and https://github.com/OxCGRT/covid-policy-tracker/blob/master/README.md for limitations of the dataset. 

We'll start by converting the `DATE` column.

In [76]:
combined_df.head(6)

,CODE,COUNTRY,DATE,HDI,TC,TD,STI,POP,GDPCAP,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
0,AFG,Afghanistan,1/1/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,AFG,Afghanistan,1/2/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,AFG,Afghanistan,1/3/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
3,AFG,Afghanistan,1/4/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,AFG,Afghanistan,1/5/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
5,AFG,Afghanistan,1/6/2020,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [77]:
combined_df['DATE'] = pd.to_datetime(combined_df.DATE)

In [78]:
combined_df.head(3)

,CODE,COUNTRY,DATE,HDI,TC,TD,STI,POP,GDPCAP,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
0,AFG,Afghanistan,2020-01-01,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,AFG,Afghanistan,2020-01-02,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,AFG,Afghanistan,2020-01-03,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0

Let's find out how many countries we're dealing with.

In [79]:
print(combined_df.COUNTRY.unique())
print(len(combined_df.COUNTRY.unique()))

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Argentina' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus'
 'Czech Republic' 'Democratic Republic of Congo' 'Denmark' 'Djibouti'
 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Eritrea'
 'Estonia' 'Ethiopia' 'Faeroe Islands' 'Fiji' 'Finland' 'France' 'Gabon'
 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Greenland' 'Guam'
 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Laos'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta'
 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Monaco' 'Mongolia' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Norway' 'Oman' 'Pakistan' 'Palestine'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda' 'San Marino'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South Korea'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Virgin Islands' 'Uruguay' 'Uzbekistan' 'Venezuela'
 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']
177

### Adding a Continents Column <a class="anchor" id="section_1_3_1"></a>

Unfortunately, we're missing continents in this dataset. So let's merge it with a dataset involving countries from https://github.com/dbouquin/IS_608/blob/master/NanosatDB_munging/Countries-Continents.csv. 

Let's see what countries are not in that dataset, however, so that we can add them to the Excel sheet and merge properly later on.

In [80]:
missing_countries_check = pd.merge(combined_df, continent_list, left_on = 'COUNTRY', right_on = 'Country')

In [81]:
print(len(missing_countries_check.COUNTRY.unique()))
new_country_unique = missing_countries_check.COUNTRY.unique()

165

In [82]:
set(combined_df.COUNTRY.unique()).difference(new_country_unique)

{"Cote d'Ivoire",
 'Greenland',
 'Guam',
 'Hong Kong',
 'Kosovo',
 'Myanmar',
 'Palestine',
 'Puerto Rico',
 'Russia',
 'South Korea',
 'Taiwan',
 'United States Virgin Islands'}

These are the countries currently missing in the excel sheet. It's much faster to just update the old csv to include the new ones.

In [43]:
updated_continent_list = pd.read_csv('updated_countries.csv')
updated_continent_list.head(3)

  Continent  Country
0    Africa  Algeria
1    Africa   Angola
2    Africa    Benin

In [84]:
countries_continents = pd.merge(combined_df, updated_continent_list, left_on = 'COUNTRY', right_on = 'Country')

In [85]:
len(countries_continents.COUNTRY.unique())

177

In [86]:
set(combined_df.COUNTRY.unique()).difference(countries_continents.COUNTRY.unique())

set()

There are now no missing countries between the datasets.

In [87]:
# delete the 'Country' column
countries_continents = countries_continents.drop('Country', axis = 1)

In [88]:
countries_continents.head(3)

,CODE,COUNTRY,DATE,HDI,TC,TD,STI,POP,GDPCAP,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex,Continent
0,AFG,Afghanistan,2020-01-01,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Asia
1,AFG,Afghanistan,2020-01-02,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Asia
2,AFG,Afghanistan,2020-01-03,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Asia

Let's export this once more so that we can send it to the team.

In [89]:
countries_continents.to_csv('countries_continents.csv', index=False)

### Adding a Final Dataset <a class="anchor" id="section_1_3_2"></a>

In retrospect, we're missing some data values. Therefore, let's combine another dataset.

In [90]:
deaths_and_pop_df = pd.read_csv('total_cases_deaths.csv')
deaths_and_pop_df.head(3)

,iso_code,location,date,total_cases,total_deaths,population,death_percentage,case_percentage
0,AFG,Afghanistan,2019-12-31,0.0,0.0,38928341,0.0,0.0
1,AFG,Afghanistan,2020-01-01,0.0,0.0,38928341,0.0,0.0
2,AFG,Afghanistan,2020-01-02,0.0,0.0,38928341,0.0,0.0

In [18]:
countries_continents = pd.read_csv('countries_continents.csv')

In [92]:
pop_deaths_merge = pd.merge(countries_continents, deaths_and_pop_df, left_on=['COUNTRY', 'DATE'], right_on=['location', 'date'])
pop_deaths_merge.head(3)

,CODE,COUNTRY,DATE,HDI,TC,TD,STI,POP,GDPCAP,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex,Continent,iso_code,location,date,total_cases,total_deaths,population,death_percentage,case_percentage
0,AFG,Afghanistan,2020-01-01,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Asia,AFG,Afghanistan,2020-01-01,0.0,0.0,38928341,0.0,0.0
1,AFG,Afghanistan,2020-01-02,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Asia,AFG,Afghanistan,2020-01-02,0.0,0.0,38928341,0.0,0.0
2,AFG,Afghanistan,2020-01-03,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Asia,AFG,Afghanistan,2020-01-03,0.0,0.0,38928341,0.0,0.0

In [93]:
# delete columns
pop_deaths_merge = pop_deaths_merge.drop(['iso_code', 'location', 'date'], axis = 1)
pop_deaths_merge.head(3)

,CODE,COUNTRY,DATE,HDI,TC,TD,STI,POP,GDPCAP,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyLegacyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex,Continent,total_cases,total_deaths,population,death_percentage,case_percentage
0,AFG,Afghanistan,2020-01-01,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Asia,0.0,0.0,38928341,0.0,0.0
1,AFG,Afghanistan,2020-01-02,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Asia,0.0,0.0,38928341,0.0,0.0
2,AFG,Afghanistan,2020-01-03,0.498,0.0,0.0,0.0,17.477233,7.497754,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Asia,0.0,0.0,38928341,0.0,0.0

In [94]:
pop_deaths_merge.to_csv('final_dataset.csv', index=False)

## Democracy Dataset <a class="anchor" id="chapter3"></a>

In [3]:
import pandas as pd

In [41]:
vdem = pd.read_csv('democracy_2022.csv')

In [42]:
vdem.head(3)

,country_name,country_text_id,year,historical_date,v2x_libdem,v2x_partipdem,v2x_egaldem,v2x_freexp_altinf,v2x_frassoc_thick,v2x_suffr,v2xel_frefair,v2x_liberal,v2x_partip,v2x_cspart,v2xdd_dd
0,Mexico,MEX,1789,1789-12-31,0.04,0.007,NaN,0.156,0.041,0.0,0.0,0.155,0.024,0.037,NaN
1,Mexico,MEX,1790,1790-12-31,0.04,0.007,NaN,0.156,0.041,0.0,0.0,0.155,0.024,0.037,NaN
2,Mexico,MEX,1791,1791-12-31,0.04,0.007,NaN,0.156,0.041,0.0,0.0,0.155,0.024,0.037,NaN

In [13]:
len(vdem)

27380

In [44]:
countries_continents2 = pd.merge(vdem, updated_continent_list, left_on = 'country_name', right_on = 'Country')

In [48]:
countries_continents2.head(3)

,country_name,country_text_id,year,historical_date,v2x_libdem,v2x_partipdem,v2x_egaldem,v2x_freexp_altinf,v2x_frassoc_thick,v2x_suffr,v2xel_frefair,v2x_liberal,v2x_partip,v2x_cspart,v2xdd_dd,Continent,Country
0,Mexico,MEX,1789,1789-12-31,0.04,0.007,NaN,0.156,0.041,0.0,0.0,0.155,0.024,0.037,NaN,North America,Mexico
1,Mexico,MEX,1790,1790-12-31,0.04,0.007,NaN,0.156,0.041,0.0,0.0,0.155,0.024,0.037,NaN,North America,Mexico
2,Mexico,MEX,1791,1791-12-31,0.04,0.007,NaN,0.156,0.041,0.0,0.0,0.155,0.024,0.037,NaN,North America,Mexico

In [12]:
len(vdem)

23944

In [19]:
# count the number of countries
len(vdem.country_name.unique())

202

In [51]:
vdem_simple = countries_continents2[['country_name', 'year', 'historical_date', 'v2x_libdem', 
                    'v2x_egaldem', 'v2x_freexp_altinf', 'v2x_frassoc_thick', 'v2x_suffr', 'v2xel_frefair', 'v2x_cspart', 'v2x_partipdem', 'v2xdd_dd', 'Continent']]

In [52]:
vdem_simple.head(3)

,country_name,year,historical_date,v2x_libdem,v2x_egaldem,v2x_freexp_altinf,v2x_frassoc_thick,v2x_suffr,v2xel_frefair,v2x_cspart,v2x_partipdem,v2xdd_dd,Continent
0,Mexico,1789,1789-12-31,0.04,NaN,0.156,0.041,0.0,0.0,0.037,0.007,NaN,North America
1,Mexico,1790,1790-12-31,0.04,NaN,0.156,0.041,0.0,0.0,0.037,0.007,NaN,North America
2,Mexico,1791,1791-12-31,0.04,NaN,0.156,0.041,0.0,0.0,0.037,0.007,NaN,North America

In [ ]:
vdem_simple.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23944 entries, 0 to 23943
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country_name       23944 non-null  object
 1   year               23944 non-null  int64
 2   historical_date    23944 non-null  object
 3   v2x_libdem         22131 non-null  float64
 4   v2x_polyarchy      22786 non-null  float64
 5   v2x_egaldem        17258 non-null  float64
 6   v2x_freexp_altinf  23363 non-null  float64
 7   v2x_frassoc_thick  23333 non-null  float64
 8   v2x_suffr          23681 non-null  float64
 9   v2xel_frefair      23762 non-null  float64
 10  v2x_elecoff        23336 non-null  float64
 11  v2xcl_rol          23843 non-null  float64
 12  v2x_cspart         23412 non-null  float64
 13  v2xeg_eqprotec     23845 non-null  float64
 14  v2xeg_eqaccess     23814 non-null  float64
 15  v2xeg_eqdr         17343 non-null  float64
 16  v2x_partipdem      22669 non-null  float64
 17  v2xdd_dd           17342 non-null  float64
 18  v2xel_regelec      23143 non-null  float64
 19  v2x_egal           17343 non-null  float64
 20  Continent          23944 non-null  object
dtypes: float64(17), int64(1), object(3)
memory usage: 4.0+ MB

In [53]:
vdem_simple.to_csv('democracy_dataset_2022.csv', index=False)

### Combine GDP Dataset

In [ ]:
GDP = pd.read_csv('IFM_GDP.csv')

In [ ]:
GDP = GDP.melt(id_vars = ['Year'],
        var_name = 'Country',
        value_name='GDP')

In [ ]:
GDP.head(40)

    Year      Country   GDP
0   1980  Afghanistan   NaN
1   1981  Afghanistan   NaN
2   1982  Afghanistan   NaN
3   1983  Afghanistan   NaN
4   1984  Afghanistan   NaN
5   1985  Afghanistan   NaN
6   1986  Afghanistan   NaN
7   1987  Afghanistan   NaN
8   1988  Afghanistan   NaN
9   1989  Afghanistan   NaN
10  1990  Afghanistan   NaN
11  1991  Afghanistan   NaN
12  1992  Afghanistan   NaN
13  1993  Afghanistan   NaN
14  1994  Afghanistan   NaN
15  1995  Afghanistan   NaN
16  1996  Afghanistan   NaN
17  1997  Afghanistan   NaN
18  1998  Afghanistan   NaN
19  1999  Afghanistan   NaN
20  2000  Afghanistan   NaN
21  2001  Afghanistan   NaN
22  2002  Afghanistan   NaN
23  2003  Afghanistan   8.7
24  2004  Afghanistan   0.7
25  2005  Afghanistan  11.8
26  2006  Afghanistan   5.4
27  2007  Afghanistan  13.3
28  2008  Afghanistan   3.9
29  2009  Afghanistan  20.6
30  2010  Afghanistan   8.4
31  2011  Afghanistan   6.5
32  2012  Afghanistan  14.0
33  2013  Afghanistan   5.7
34  2014  Afghanistan   2.7
35  2015  Afghanistan   1.0
36  2016  Afghanistan   2.2
37  2017  Afghanistan   2.6
38  2018  Afghanistan   1.2
39  2019  Afghanistan   3.9

In [2]:
import pandas as pd

In [8]:
democracy = pd.read_csv('democracy_2022.csv')

In [9]:
democracy.head(3)

,country_name,country_text_id,year,historical_date,v2x_libdem,v2x_partipdem,v2x_egaldem,v2x_freexp_altinf,v2x_frassoc_thick,v2x_suffr,v2xel_frefair,v2x_liberal,v2x_partip,v2x_cspart,v2xdd_dd
0,Mexico,MEX,1789,1789-12-31,0.04,0.007,NaN,0.156,0.041,0.0,0.0,0.155,0.024,0.037,NaN
1,Mexico,MEX,1790,1790-12-31,0.04,0.007,NaN,0.156,0.041,0.0,0.0,0.155,0.024,0.037,NaN
2,Mexico,MEX,1791,1791-12-31,0.04,0.007,NaN,0.156,0.041,0.0,0.0,0.155,0.024,0.037,NaN

In [10]:
len(democracy.country_name.unique())

202

In [ ]:
GDP_merge = pd.merge(democracy, GDP, left_on = ['country_name', 'year'], right_on = ['Country', 'Year'])

In [ ]:
GDP_merge.head()

,country_name,year,historical_date,v2x_libdem,v2x_polyarchy,v2x_egaldem,v2x_freexp_altinf,v2x_frassoc_thick,v2x_suffr,v2xel_frefair,...,v2xeg_eqaccess,v2xeg_eqdr,v2x_partipdem,v2xdd_dd,v2xel_regelec,v2x_egal,Continent,Year,Country,GDP
0,Mexico,1980,12/31/1980,0.135,0.302,0.160,0.533,0.568,1.0,0.146,...,0.403,0.305,0.172,0.0,0.944,0.376,North America,1980,Mexico,9.5
1,Mexico,1981,12/31/1981,0.136,0.307,0.163,0.533,0.598,1.0,0.146,...,0.403,0.305,0.174,0.0,0.944,0.375,North America,1981,Mexico,8.5
2,Mexico,1982,12/31/1982,0.140,0.316,0.165,0.533,0.597,1.0,0.175,...,0.403,0.305,0.177,0.0,0.944,0.375,North America,1982,Mexico,-0.5
3,Mexico,1983,12/31/1983,0.146,0.326,0.169,0.533,0.600,1.0,0.211,...,0.403,0.305,0.182,0.0,0.944,0.375,North America,1983,Mexico,-3.5
4,Mexico,1984,12/31/1984,0.146,0.326,0.169,0.533,0.600,1.0,0.211,...,0.403,0.305,0.182,0.0,0.944,0.375,North America,1984,Mexico,3.4

In [ ]:
len(GDP_merge.country_name.unique())

163

In [ ]:
# check what countries got lost in the merge 
# (could be small differences in spelling)
set(democracy.country_name.unique()).difference(GDP_merge.Country)

{'Cuba', 'Ivory Coast', 'Sao Tome and Principe'}

### Combine Unemployment Dataset

In [97]:
unemployment = pd.read_csv('Unemployment_Global.csv')

In [98]:
unemployment.head()

,Year,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,Yemen,South Africa,Zambia,Zimbabwe
0,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
unemployment = unemployment.melt(id_vars = ['Year'],
        var_name = 'Country',
        value_name='Unemployment_Rate')

In [100]:
unemployment.head()

   Year Country  Unemployment_Rate
0  1960   Aruba                NaN
1  1961   Aruba                NaN
2  1962   Aruba                NaN
3  1963   Aruba                NaN
4  1964   Aruba                NaN

In [101]:
unemployment_merge = pd.merge(GDP_merge, unemployment, left_on = ['country_name', 'year'], right_on = ['Country', 'Year'])

In [93]:
unemployment_merge.head()

,country_name,year,historical_date,v2x_libdem,v2x_polyarchy,v2x_egaldem,v2x_freexp_altinf,v2x_frassoc_thick,v2x_suffr,v2xel_frefair,...,v2xdd_dd,v2xel_regelec,v2x_egal,Continent,Year_x,Country_x,GDP,Year_y,Country_y,Unemployment_Rate
0,Mexico,1980,12/31/1980,0.135,0.302,0.160,0.533,0.568,1.0,0.146,...,0.0,0.944,0.376,North America,1980,Mexico,9.5,1980,Mexico,NaN
1,Mexico,1981,12/31/1981,0.136,0.307,0.163,0.533,0.598,1.0,0.146,...,0.0,0.944,0.375,North America,1981,Mexico,8.5,1981,Mexico,NaN
2,Mexico,1982,12/31/1982,0.140,0.316,0.165,0.533,0.597,1.0,0.175,...,0.0,0.944,0.375,North America,1982,Mexico,-0.5,1982,Mexico,NaN
3,Mexico,1983,12/31/1983,0.146,0.326,0.169,0.533,0.600,1.0,0.211,...,0.0,0.944,0.375,North America,1983,Mexico,-3.5,1983,Mexico,NaN
4,Mexico,1984,12/31/1984,0.146,0.326,0.169,0.533,0.600,1.0,0.211,...,0.0,0.944,0.375,North America,1984,Mexico,3.4,1984,Mexico,NaN

In [102]:
# look at what countries are missing
set(GDP_merge.country_name.unique()).difference(unemployment_merge.country_name)

{'Taiwan'}

In [103]:
unemployment_merge.head()

,country_name,year,historical_date,v2x_libdem,v2x_polyarchy,v2x_egaldem,v2x_freexp_altinf,v2x_frassoc_thick,v2x_suffr,v2xel_frefair,...,v2xdd_dd,v2xel_regelec,v2x_egal,Continent,Year_x,Country_x,GDP,Year_y,Country_y,Unemployment_Rate
0,Mexico,1980,12/31/1980,0.135,0.302,0.160,0.533,0.568,1.0,0.146,...,0.0,0.944,0.376,North America,1980,Mexico,9.5,1980,Mexico,NaN
1,Mexico,1981,12/31/1981,0.136,0.307,0.163,0.533,0.598,1.0,0.146,...,0.0,0.944,0.375,North America,1981,Mexico,8.5,1981,Mexico,NaN
2,Mexico,1982,12/31/1982,0.140,0.316,0.165,0.533,0.597,1.0,0.175,...,0.0,0.944,0.375,North America,1982,Mexico,-0.5,1982,Mexico,NaN
3,Mexico,1983,12/31/1983,0.146,0.326,0.169,0.533,0.600,1.0,0.211,...,0.0,0.944,0.375,North America,1983,Mexico,-3.5,1983,Mexico,NaN
4,Mexico,1984,12/31/1984,0.146,0.326,0.169,0.533,0.600,1.0,0.211,...,0.0,0.944,0.375,North America,1984,Mexico,3.4,1984,Mexico,NaN

In [108]:
unemployment_merge.to_csv('democracy_final.csv', index=False)